html {
  box-sizing: border-box;
  font-size: 16px;
  overflow-y: hidden;
  scroll-behavior: smooth;
  position: relative;
  --accent-color: #fc7a57;
  --main-background-blue: #90dcff;
  --greyish: #3b5b69;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
a:link {
  font-size: 2rem;
  color: black;
}

a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}
a:visited {
  color: black;
}

body {
  background-color: var(--main-background-blue);
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  background-color: ;
}
.start-splash-screen {
  background-color: var(--main-background-blue);
  color: var(--greyish);
  height: 100vh;
  width: 100vw;
  padding: 5vw;
  font-family: "Zilla Slab", monospace;
  display: flex;
  z-index: 1;
  transform: translateX(0);
  transition: transform 1.5s;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 100;
}
.splash-screen-title {
  text-align: center;
  color: black;
}
.hidden {
  transform: translateX(-100vw);
}
.start-splash-screen > * {
  margin: 2vh;
}
.record {
  position: relative;
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  background: repeating-radial-gradient(
    circle at center,
    #ada9a0 9px,
    #000000 10px,
    #ada9a0 14px
  );
}
.record:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7.5vh;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  background: var(--accent-color);
  content: "";
}
.play-button {
  width: 8vh;
  height: 5vh;
  font-size: 1.5rem;
  border-radius: 3rem;
  border: 2px solid var(--greyish);
  color: var(--main-background-blue);
  background-color: var(--greyish);
  outline: none;
}

.play-button:active {
  transform: scale(0.95);
}
a:visited {
  color: black;
}
.main-section {
  height: auto;
  width: 100vw;
  padding: 2vh;
  font-family: "Zilla Slab Highlight", monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about,
.contact {
  min-height: 100vh;
}
.section-nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.main-title {
  background-color: var(--accent-color);
  font-size: 2rem;
  margin-bottom: 2vh;
}
.about-wrapper {
  width: 90vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.profile-about {
  margin: 2vh 0;
}
.profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-img {
  height: 15vh;
  width: auto;
  /* margin-bottom: 2vh; */
  border: 2vh solid black;
  box-shadow: -2vh -2vh 0 0 var(--accent-color);
}
.tech-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 20vh;
  overflow-x: hidden;
}
.tech-stack-slideshow {
  position: relative;
  overflow: hidden;
  align-self: center;
  max-width: 800px;
  padding: 2px;
  border: 4px solid var(--accent-color);
}
.tech-stack-icons {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 1600px;
  overflow: hidden;
  height: 80px;
  transform: translateX(0);
  animation: slideshow 8s linear infinite;
}
.tech-stack-icons:hover {
  animation-play-state: paused;
}
@keyframes slideshow {
  100% {
    transform: translateX(-50%);
  }
}

.tech-stack-icon {
  margin: 10px;
  width: 80px;
  height: auto;
}

.profile-about,
.fac-about {
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 1.5rem;
  max-width: 600px;
  /* margin-bottom: 2vh; */
}
.projects-wrapper {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}
.project {
  min-width: 200px;
  max-width: 500px;
  min-height: 35vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2vh;
  margin: 2vw;
  border: 2px solid var(--accent-color);
}
.project > * {
  margin: 2vh;
}
.project-head {
  font-family: "Zilla Slab", sans-serif;
  color: var(--accent-color);
}
.project-title {
  display: block;
  margin-bottom: 2vh;
  background-color: var(--accent-color);
}
.project .link {
  margin: 0;
  text-align: center;
  color: black;
  font-size: 1.5rem;
  margin: 0.5vh;
}
.project-about {
  font-family: Montserrat, sans-serif;
}
.project-about > .link {
  font-size: 1rem;
  margin: 0;
}
.contact-link {
  margin: 5vh;
  text-align: center;
  color: black;
  background-color: white;
  text-decoration: none;
}
.highlight {
  background-color: var(--accent-color);
}

@media only screen and (max-width: 600px) {
  .tech-stack-slideshow {
    width: 90vw;
  }
  .profile-img {
    box-shadow: -0.5vh -0.5vh 0 0 var(--accent-color);
    border: 1vh solid black;
    height: 12vh;
    width: auto;
  }
}
