html {
  box-sizing: border-box;
  font-size: 16px;
  overflow: hidden;
  scroll-behavior: smooth;
  position: relative;
  --accent-color: #fc7a57;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  overflow: hidden;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
a {
  font-size: 2rem;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
}
.start-splash-screen {
  background-color: white;
  height: 100vh;
  width: 100vw;
  padding: 5vw;
  font-family: "Zilla Slab Highlight", monospace;
  display: flex;
  position: fixed;
  z-index: 1;
  right: 0;
  transition: all 1s ease-in-out;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 100;
}
.hidden {
  right: 100vw;
}
.start-splash-screen > * {
  margin: 2vh;
}
.record {
  position: relative;
  width: 40vh;
  height: 40vh;
  border-radius: 50%;
  background: repeating-radial-gradient(circle at center, #ada9a0 9px, #000000 10px, #ada9a0 14px);
}
.record:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7.5vh;
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  background: var(--accent-color);
  content: "";
}
.play-button {
  width: 8vh;
  height: 5vh;
  font-size: 1.5rem;
  color: white;
  background-color: black;
}

.track-list-nav {
  font-family: "Zilla Slab Highlight", monospace;
  height: 100vh;
  width: 100vw;
  padding: 2vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.track-list-title {
  background-color: var(--accent-color);
}
.track-list-title,
.track-heading {
  margin: 5vh;
  font-size: 2rem;
}
.track-heading {
  text-align: center;
  color: black;
  text-decoration: none;
}
.main-section {
  height: 100vh;
  width: 100vw;
  padding: 2vh;
  font-family: "Zilla Slab Highlight", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-nav {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.main-title {
  background-color: var(--accent-color);
  font-size: 2rem;
}
.about-wrapper {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-img {
  height: 20vh;
  width: auto;
  border: 2vh solid black;
  box-shadow: -2vh -2vh 0 0 var(--accent-color);
}
.profile-about {
  font-family: Montserrat, sans-serif;
  margin-top: 5vh;
  text-align: center;
  line-height: 1.5rem;
}
